html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
  background-color:#252630;}
#logo{
  width:100px;
  height: auto ;
  margin-top:-5px;
}
#title{
  font-size:25px;
  width:1000px ; 
  height: 500px ;
  color: white;
  margin-left:90px;
  margin-top:-88px;
}
#footer{
  background-color:#2A2A2E;
  color: #858588;
  width:100%;
  margin-top:200px;
  font-size:15px;
  text-align: center;
}
#telegram{
  color:#FFFFFF;
  font-size:15px;
}
#amirhosseinlg{
  width:40px;
}
#configs{
  width:330px;
  height: auto;
  position: relative;
  top: -400px;
  left: 30px;
}
#titlep{
  color: #FFFFFF;
  font-size: 20px;
  margin-top: -400px;
}
#wa{
  background-color:#000000;
  color: #FF0000;
  padding: 10px;
  margin-top:20px;
}
#v2rayd{
  width: 300px;
  height: auto;
  margin-left: 45px;
  margin-top: 100px;
}
#config{
  background-color: #FFFFFF;
  color: #007D2C;
  width: 100px;
  height: 50px;
  margin-left: 150px;
  margin-top: 50px;
}
